/*colors text*/
$headtextAndFonts: rgba(34, 34, 59, 1);
$mainText: rgba(74, 78, 105, 1);

/*fonts*/
$fontFamilyHeading: Space grotesk, Georgia;
$fontFamilyText: Ubuntu, arial;

/*color foots and header*/
$footAndHead: rgba(154, 140, 152, 1);
$lightHeading: rgba(154, 140, 152, 0.84);

/*color links and buttons*/
$buttonColor: rgba(201, 173, 167, 1);
$activeColor: rgb(202, 111, 90);
$buttonHover:rgb(212, 190, 185);