body {
  background: rgb(242, 233, 228);
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: relative;
  background: rgb(154, 140, 152);
  height: 130px;
  width: 100%;
}
header .fontHeading {
  font-size: 1.3rem;
  margin: 5px;
  color: rgb(34, 34, 59);
}
header .headerLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  height: 130px;
  padding: 5px;
}
header .headerMiddle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  height: 130px;
}
header .loggaHeader {
  position: absolute;
  top: 40px;
  font-family: Space grotesk, Georgia;
  font-size: 30px;
  color: rgb(34, 34, 59);
}
header #loggaHeader {
  position: absolute;
  top: 20px;
  height: 60px;
  width: 60px;
}
header .headerRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding: 5px;
  height: 130px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  background: rgb(154, 140, 152);
}
footer .footerTop {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding-top: 10px;
}
footer .footerTop #loggaFooter {
  height: 50px;
  margin: 5px;
}
footer .footerTop .loggaFooter {
  font-family: Space grotesk, Georgia;
  font-size: 1.3rem;
}
footer .footerBottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
footer .footerBottom nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: relative;
  padding-left: 5px;
  height: 150px;
}
footer .footerBottom nav p {
  position: absolute;
  top: 0px;
  font-family: Space grotesk, Georgia;
  font-size: 20px;
  text-decoration: underline;
}
footer .footerBottom nav ul {
  position: absolute;
  top: 35px;
  list-style-type: none;
  padding: 0px;
}
footer .footerBottom nav a {
  margin: 0px;
  text-decoration: none;
  color: rgb(34, 34, 59);
}
footer .footerBottom nav a:hover {
  cursor: pointer;
  color: white;
}
footer .footerBottom .copyright {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  padding-left: 5px;
}

.websideHeading {
  color: rgb(34, 34, 59);
  font-family: Space grotesk, Georgia;
  text-align: center;
  font-size: 2rem;
}

/*Huvudsidan*/
.welcomePicture {
  width: 100%;
  margin: 5px 0;
}

.welcomeText {
  padding: 10px;
}
.welcomeText h1 {
  color: rgb(34, 34, 59);
  font-family: Space grotesk, Georgia;
  text-align: center;
  font-size: 2.5rem;
}
.welcomeText p {
  color: rgb(74, 78, 105);
  font-family: Concert One, arial;
  text-align: center;
  font-size: 1.2rem;
}
.welcomeText a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  text-decoration: none;
}
.welcomeText button {
  background: rgb(201, 173, 167);
  color: Space grotesk, Georgia;
  border: none;
  border-radius: 10px;
  font-family: Concert One, arial;
  width: 170px;
  font-size: 1.2rem;
}
.welcomeText button:hover {
  cursor: pointer;
  background: rgb(212, 190, 185);
}

.mainSection h2 {
  color: rgb(34, 34, 59);
  font-family: Space grotesk, Georgia;
  text-align: center;
  font-size: 1.7rem;
}
.mainSection .popularProducts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.mainSection .popularProducts .productPicture {
  height: 100px;
  border: 2px solid rgb(74, 78, 105);
  border-radius: 10px;
}
.mainSection .popularProducts .product.popular {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  height: 200px;
  width: 150px;
  margin: 20px 0;
}
.mainSection .popularProducts .product.popular p {
  color: rgb(74, 78, 105);
  font-family: Concert One, arial;
  text-align: center;
  font-size: 1.2rem;
}
.mainSection .popularProducts > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
}
.mainSection .popularProducts button {
  background: rgb(201, 173, 167);
  color: Space grotesk, Georgia;
  border: none;
  border-radius: 10px;
  font-family: Concert One, arial;
  width: 70px;
  font-size: 1rem;
}
.mainSection .popularProducts button:hover {
  cursor: pointer;
  background: rgb(212, 190, 185);
}
.mainSection .popularProducts button i {
  margin-left: 10px;
}

/*Om oss*/
.motto {
  text-align: center;
  font-style: italic;
}
.motto h2 {
  color: rgb(34, 34, 59);
  font-family: Space grotesk, Georgia;
  text-align: center;
  font-size: 1.1rem;
}
.motto p {
  color: rgb(74, 78, 105);
  font-family: Concert One, arial;
  text-align: center;
  font-size: 0.9rem;
}

.ourHistory {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.ourHistory img {
  height: 220px;
  border: 2px solid rgb(74, 78, 105);
  border-radius: 10px;
}
.ourHistory h3 {
  color: rgb(34, 34, 59);
  font-family: Space grotesk, Georgia;
  text-align: center;
  font-size: 1.2rem;
}
.ourHistory p {
  color: rgb(74, 78, 105);
  font-family: Concert One, arial;
  text-align: center;
  font-size: 0.9rem;
}

.allEmployee h4 {
  color: rgb(34, 34, 59);
  font-family: Space grotesk, Georgia;
  text-align: center;
  font-size: 1.2rem;
}
.allEmployee .employeePicture {
  height: 100px;
  border: 2px solid rgb(74, 78, 105);
  border-radius: 10px;
}
.allEmployee p {
  color: rgb(74, 78, 105);
  font-family: Concert One, arial;
  text-align: center;
  font-size: 0.9rem;
}
.allEmployee > div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.allEmployee > div:nth-of-type(1) > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
}

/*Produkter*/
.sectionProduct h2 {
  color: rgb(34, 34, 59);
  font-family: Space grotesk, Georgia;
  text-align: center;
}
.sectionProduct hr {
  border-top: 3px solid rgb(34, 34, 59);
  width: 90%;
}
.sectionProduct .allProducts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.sectionProduct .allProducts > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
}
.sectionProduct .allProducts .product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 150px;
  margin: 20px 0;
}
.sectionProduct .allProducts .product img {
  height: 100px;
  border: 2px solid rgb(74, 78, 105);
  border-radius: 10px;
}
.sectionProduct .allProducts .product p {
  color: rgb(74, 78, 105);
  font-family: Concert One, arial;
  text-align: center;
}
.sectionProduct .allProducts .product button {
  background: rgb(201, 173, 167);
  color: Space grotesk, Georgia;
  border: none;
  border-radius: 10px;
  font-family: Concert One, arial;
}
.sectionProduct .allProducts .product button:hover {
  cursor: pointer;
  background: rgb(212, 190, 185);
}

/*Kontakt*/
.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.contactInfo img {
  height: 200px;
  border: 2px solid rgb(74, 78, 105);
  border-radius: 10px;
}
.contactInfo figcaption {
  color: rgb(74, 78, 105);
  font-family: Concert One, arial;
  text-align: center;
  font-size: 0.7rem;
}
.contactInfo h2 {
  color: rgb(34, 34, 59);
  font-family: Space grotesk, Georgia;
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 0;
}
.contactInfo p {
  color: rgb(74, 78, 105);
  font-family: Concert One, arial;
  text-align: center;
  margin-top: 0;
}

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}
.contactForm h3 {
  color: rgb(34, 34, 59);
  font-family: Space grotesk, Georgia;
  text-align: center;
  font-size: 1.4rem;
}
.contactForm form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  color: rgb(74, 78, 105);
  font-family: Concert One, arial;
  text-align: center;
}
.contactForm form input, .contactForm form textarea {
  border: 2px solid rgb(74, 78, 105);
  border-radius: 10px;
}
.contactForm form > div {
  text-align: center;
}
.contactForm form input[type=submit] {
  background: rgb(201, 173, 167);
  color: Space grotesk, Georgia;
  border: none;
  border-radius: 10px;
  font-family: Concert One, arial;
}
.contactForm form input[type=submit]:hover {
  cursor: pointer;
  background: rgb(212, 190, 185);
}

/*Recensioer*/
.stars {
  text-align: center;
  color: rgb(201, 173, 167);
}

hr {
  border-top: 3px solid rgb(34, 34, 59);
  width: 90%;
}

.reviews {
  margin: 10px 20px;
}
.reviews p {
  color: rgb(74, 78, 105);
  font-family: Concert One, arial;
  text-align: center;
}

.sendReview h3 {
  color: rgb(34, 34, 59);
  font-family: Space grotesk, Georgia;
  text-align: center;
  font-size: 1.6rem;
}
.sendReview form {
  margin: 20px;
  color: rgb(74, 78, 105);
  font-family: Concert One, arial;
  text-align: center;
}
.sendReview form input, .sendReview form textarea {
  border: 2px solid rgb(74, 78, 105);
  border-radius: 10px;
}
.sendReview form input[type=submit] {
  background: rgb(201, 173, 167);
  color: Space grotesk, Georgia;
  border: none;
  border-radius: 10px;
  font-family: Concert One, arial;
}
.sendReview form input[type=submit]:hover {
  cursor: pointer;
  background: rgb(212, 190, 185);
}
.sendReview form input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid rgb(34, 34, 59);
}
.sendReview form input[type=checkbox]:checked {
  background: rgb(201, 173, 167);
}/*# sourceMappingURL=style.css.map */