$headtextAndFonts: rgba(34, 34, 59, 1);
$fontFamilyHeading: Space grotesk, Georgia;
$fontFamilyText: Concert One, arial;
$footAndHead: rgba(154, 140, 152, 1);
$mainText: rgba(74, 78, 105, 1);
$buttonColor: rgba(201, 173, 167, 1);
$buttonHover:rgb(212, 190, 185);
@mixin border{
    border: 2px solid $mainText;
    border-radius: 10px;
}
@mixin heading{
    color: $headtextAndFonts;
    font-family: $fontFamilyHeading;
    text-align:center;
}
@mixin mainText {
    color: $mainText;
    font-family: $fontFamilyText;
    text-align: center;
}
@mixin hr{
    border-top:3px solid $headtextAndFonts;
    width: 90%;
}
@mixin button {
    background: $buttonColor;
    color: $fontFamilyHeading;
    border: none;
    border-radius: 10px;
    font-family: $fontFamilyText;
    &:hover{
        cursor: pointer;
        background: $buttonHover;
    }
}
@mixin flex(
    $direction: row,
    $justify: flex-start,
    $align: flex-start,
    $wrap: nowrap
) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align; 
    flex-wrap: $wrap;
}
body{
    background: rgba(242, 233, 228, 1);
    margin: 0;
}
header{
    @include flex($justify: space-between);
    position: relative;
    background: $footAndHead;
    height: 130px;
    width: 100%;
    .fontHeading{
        font-size: 1.3rem;
        margin: 5px;
        color: $headtextAndFonts;
    }
    .headerLeft{
        @include flex($align:center);
        height: 130px;
        padding: 5px;
    }
    .headerMiddle{
        @include flex($direction:column, $align:center);
        height: 130px;
    }
    .loggaHeader{
        position: absolute;
        top:40px;
        font-family: $fontFamilyHeading;
        font-size: 30px;
        color: $headtextAndFonts;
    }
    #loggaHeader{
        position: absolute;
        top: 20px;
        height:60px;
        width:60px;
    }
    .headerRight{
        @include flex($align:center);
        padding: 5px; 
        height: 130px;
    }
}
footer{
    @include flex($direction:column);
    background: $footAndHead;
    .footerTop{
        @include flex;
        padding-top: 10px;
        #loggaFooter{
            height: 50px;
            margin: 5px;
        }
        .loggaFooter{
            font-family: $fontFamilyHeading;
            font-size: 1.3rem;
        }
    }
    .footerBottom{
        @include flex($direction:column);
        nav{
            @include flex($direction:column);
            position: relative;
            padding-left: 5px;
            height:150px;
            p{
                position: absolute;
                top: 0px;
                font-family: $fontFamilyHeading;
                font-size: 20px;
                text-decoration: underline
            }
            ul{
                position: absolute;
                top:35px;
                list-style-type: none;
                padding: 0px;
            }
            a{
                margin:0px;
                text-decoration: none;
                color: $headtextAndFonts;
                &:hover{
                    cursor: pointer;
                    color: white;
                }
            }
        }
        .copyright{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 10px;
            padding-left: 5px;
        }
    }
}
.websideHeading{
    @include heading;
    font-size: 2rem;
}
/*Huvudsidan*/
.welcomePicture{
    width: 100%;
    margin:5px 0;
}
.welcomeText{
    padding:10px;
    h1{
        @include heading;
        font-size: 2.5rem;
    }
    p{
        @include mainText;
        font-size: 1.2rem;
    }
    a{
        @include flex($justify:center);
        text-decoration: none;
    }
    button{
        @include button;
        width: 170px;
        font-size: 1.2rem;
    }        
}
.mainSection{
    h2{
        @include heading;
        font-size: 1.7rem;
    }
    .popularProducts{
        @include flex($direction:column);
        .productPicture{
            height: 100px;
            @include border;
        }
        .product.popular{
            @include flex($direction:column, $align: center);
            height: 200px;
            width: 150px;
            margin: 20px 0;
            p{
                @include mainText;
                font-size: 1.2rem;
            }
        }
        > div{
            @include flex($justify:space-evenly);
            width:100%;
        }
        button{
            @include button;
            width: 70px;
            font-size: 1rem;
            i{
                margin-left:10px;
            }
        }
    }
}
/*Om oss*/
.motto{
    text-align: center;
    font-style: italic;
    h2{
        @include heading;
        font-size: 1.1rem;
    }
    p{
        @include mainText;
        font-size: 0.9rem;
    }
}
.ourHistory{
    @include flex($direction:column, $align:center);
    img{
        height:220px;
        @include border;
    }
    h3{
        @include heading;
        font-size: 1.2rem;
    }
    p{
        @include mainText;
        font-size: 0.9rem;
    }
}
.allEmployee{
    h4{
        @include heading;
        font-size: 1.2rem;
    }
    .employeePicture{
        height:100px;
        @include border;
    }
    p{
        @include mainText;
        font-size: 0.9rem;
    }
    > div:nth-of-type(1){
        @include flex($direction:column, $align:center);
        > div{
            @include flex($justify:space-evenly);
            width: 100%;
        }
    }
}
/*Produkter*/
.sectionProduct{
    h2{
        @include heading;
    }
    hr{
        @include hr;
    }
    .allProducts{
        @include flex($direction:column, $align:center);
        > div{
            @include flex($justify:space-evenly);
            width: 100%;
        }
        .product{
            @include flex($direction:column, $align:center);
            width: 150px;
            margin:20px 0;
            img{
                height: 100px;
                @include border;
            }
            p{
                @include mainText;
            }
            button{
                @include button;
            }
        }
    }
}
/*Kontakt*/
.contactInfo{
    @include flex($direction:column, $align:center);
    img{
        height:200px;
        @include border;
    }
    figcaption{
        @include mainText;
        font-size: 0.7rem;
    }
    h2{
        @include heading;
        font-size: 1.4rem;
        margin-bottom: 0;
    }
    p{
        @include mainText;
        margin-top: 0;
    }
}
.contactForm{
    @include flex($direction:column, $align:center);
    margin-bottom: 20px;
    h3{
        @include heading;
        font-size: 1.4rem;
    }
    form{
        @include flex($direction:column, $align:center);
        @include mainText;
        input, textarea{
           @include border;
        }
        > div{
            text-align: center;
        }
        input[type="submit"]{
            @include button;
        }
    }
}
/*Recensioer*/
.stars{
    text-align: center;
    color:$buttonColor;
}
hr{
    @include hr;
}
.reviews{
    margin: 10px 20px;
    p{
        @include mainText;
    }

}
.sendReview{
    h3{
        @include heading;
        font-size: 1.6rem;
    }
    form{
        margin:20px;
        @include mainText;
        input, textarea{
            @include border;
        }
        input[type="submit"]{
            @include button;
        }
        input[type="checkbox"]{
            appearance: none; 
            display: inline-block;
            width: 15px;
            height: 15px;
            border: 2px solid $headtextAndFonts;
        }
        input[type="checkbox"]:checked{
            background: $buttonColor;
        }
    }
}