body {
  background: rgb(242, 233, 228);
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
}
header .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: relative;
  background: rgba(154, 140, 152, 0.84);
  height: 130px;
  width: 100%;
}
@media (min-width: 400px) {
  header .header {
    height: 100px;
  }
}
header .header .fontHeading {
  font-size: 1.3rem;
  margin: 5px;
  color: rgb(34, 34, 59);
}
header .header .headerLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  height: 130px;
  padding: 5px;
  color: rgb(34, 34, 59);
}
@media (min-width: 400px) {
  header .header .headerLeft {
    display: none;
  }
}
header .header .headerMiddle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  height: 130px;
}
@media (min-width: 400px) {
  header .header .headerMiddle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    height: 100px;
    margin-left: 20px;
  }
}
header .header .loggaHeader {
  position: absolute;
  top: 40px;
  font-family: Space grotesk, Georgia;
  font-size: 30px;
  color: rgb(34, 34, 59);
}
@media (min-width: 400px) {
  header .header .loggaHeader {
    font-size: 20px;
  }
}
header .header #loggaHeader {
  position: absolute;
  top: 20px;
  height: 60px;
  width: 60px;
}
@media (min-width: 400px) {
  header .header #loggaHeader {
    height: 40px;
    width: 40px;
  }
}
header .header .headerRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding: 5px;
  height: 130px;
  color: rgb(34, 34, 59);
}
@media (min-width: 400px) {
  header .header .headerRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    height: 100px;
    margin-right: 20px;
  }
}
header .header .navigation {
  display: none;
}
@media (min-width: 400px) {
  header .header .navigation {
    display: inline;
    position: absolute;
    right: 320px;
  }
}
header .header nav {
  display: none;
}
@media (min-width: 400px) {
  header .header nav {
    display: inline;
    position: relative;
  }
  header .header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: absolute;
    top: 70px;
    width: 300px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  header .header nav a {
    color: rgb(34, 34, 59);
    font-family: Space grotesk, Georgia;
    text-decoration: none;
    font-size: 10px;
    margin: 8px;
  }
  header .header nav a:hover {
    color: rgb(202, 111, 90);
    text-decoration: underline;
  }
  header .header nav .active {
    color: rgb(202, 111, 90);
    text-decoration: underline;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  background: rgb(154, 140, 152);
}
@media (min-width: 400px) {
  footer > div:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
  }
}
footer .footerTop {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding-top: 10px;
}
footer .footerTop #loggaFooter {
  height: 50px;
  margin: 5px 10px;
}
footer .footerTop .loggaFooter {
  font-family: Space grotesk, Georgia;
  font-size: 1.3rem;
}
footer .footerNav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
footer .footerNav nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding-left: 5px;
}
@media (min-width: 400px) {
  footer .footerNav nav {
    margin: 10px;
  }
}
footer .footerNav nav p {
  font-family: Space grotesk, Georgia;
  font-size: 1.1rem;
  color: rgb(34, 34, 59);
  margin: 0 10px;
}
footer .footerNav nav hr {
  border-top: 1px solid rgb(34, 34, 59);
  margin: 0 10px;
}
footer .footerNav nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0 10px;
}
footer .footerNav nav a {
  margin: 0px;
  text-decoration: none;
  color: rgb(34, 34, 59);
  font-family: Space grotesk, Georgia;
}
footer .footerNav nav a:hover {
  cursor: pointer;
  color: rgb(202, 111, 90);
}
footer .footerContact {
  display: none;
}
@media (min-width: 400px) {
  footer .footerContact {
    display: inline;
    margin: 10px 20px 10px 0;
  }
  footer .footerContact p {
    font-family: Space grotesk, Georgia;
    font-size: 1.1rem;
    color: rgb(34, 34, 59);
    margin: 0;
  }
  footer .footerContact hr {
    border-top: 1px solid rgb(34, 34, 59);
    margin: 0;
  }
  footer .footerContact ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  footer .footerContact li {
    color: rgb(34, 34, 59);
    font-family: Space grotesk, Georgia;
  }
}
footer .copyright {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  padding-left: 10px;
}

.websideHeading {
  color: rgb(34, 34, 59);
  font-family: Space grotesk, Georgia;
  text-align: center;
  font-size: 2rem;
}

/*Huvudsidan*/
@media (min-width: 400px) {
  .welcomeText {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}
.welcomeText .welcomePicture {
  width: 100%;
  margin-top: 125px;
}
@media (min-width: 400px) {
  .welcomeText .welcomePicture {
    height: 160px;
    width: 250px;
    border: 2px solid rgb(74, 78, 105);
    border-radius: 10px;
    margin-left: 10px;
  }
}
@media (min-width: 400px) {
  .welcomeText .textMainSite {
    margin-top: 100px;
  }
}
.welcomeText .textMainSite h1 {
  color: rgb(34, 34, 59);
  font-family: Space grotesk, Georgia;
  text-align: center;
  font-size: 2.5rem;
}
@media (min-width: 400px) {
  .welcomeText .textMainSite h1 {
    font-size: 2rem;
  }
}
.welcomeText .textMainSite p {
  color: rgb(74, 78, 105);
  font-family: Concert One, arial;
  text-align: center;
  font-size: 1.2rem;
}
@media (min-width: 400px) {
  .welcomeText .textMainSite p {
    font-size: 1rem;
  }
}
.welcomeText .textMainSite a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  text-decoration: none;
}
.welcomeText .textMainSite button {
  background: rgb(201, 173, 167);
  color: Space grotesk, Georgia;
  border: none;
  border-radius: 10px;
  font-family: Concert One, arial;
  width: 170px;
  font-size: 1.2rem;
  color: rgb(74, 78, 105);
  font-family: Concert One, arial;
  text-align: center;
}
.welcomeText .textMainSite button:hover {
  cursor: pointer;
  background: rgb(212, 190, 185);
}

@media (min-width: 400px) {
  .mainSection {
    margin: 40px 0;
  }
}
.mainSection h2 {
  color: rgb(34, 34, 59);
  font-family: Space grotesk, Georgia;
  text-align: center;
  font-size: 1.7rem;
}
@media (min-width: 400px) {
  .mainSection h2 {
    font-size: 1.3rem;
  }
}
.mainSection .popularProducts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
@media (min-width: 400px) {
  .mainSection .popularProducts {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}
.mainSection .popularProducts .productPicture {
  height: 100px;
  border: 2px solid rgb(74, 78, 105);
  border-radius: 10px;
}
.mainSection .popularProducts .product.popular {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  height: 200px;
  width: 150px;
  margin: 20px 0;
}
.mainSection .popularProducts .product.popular p {
  color: rgb(74, 78, 105);
  font-family: Concert One, arial;
  text-align: center;
  font-size: 1.2rem;
}
.mainSection .popularProducts > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
}
.mainSection .popularProducts button {
  background: rgb(201, 173, 167);
  color: Space grotesk, Georgia;
  border: none;
  border-radius: 10px;
  font-family: Concert One, arial;
  width: 70px;
  font-size: 1rem;
}
.mainSection .popularProducts button:hover {
  cursor: pointer;
  background: rgb(212, 190, 185);
}
.mainSection .popularProducts button i {
  margin-left: 10px;
}

/*Om oss*/
.motto {
  text-align: center;
  font-style: italic;
}
.motto h2 {
  color: rgb(34, 34, 59);
  font-family: Space grotesk, Georgia;
  text-align: center;
  font-size: 1.1rem;
}
.motto p {
  color: rgb(74, 78, 105);
  font-family: Concert One, arial;
  text-align: center;
  font-size: 0.9rem;
}

.ourHistory {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.ourHistory img {
  height: 220px;
  border: 2px solid rgb(74, 78, 105);
  border-radius: 10px;
}
.ourHistory h3 {
  color: rgb(34, 34, 59);
  font-family: Space grotesk, Georgia;
  text-align: center;
  font-size: 1.2rem;
}
.ourHistory p {
  color: rgb(74, 78, 105);
  font-family: Concert One, arial;
  text-align: center;
  font-size: 0.9rem;
}

.allEmployee h4 {
  color: rgb(34, 34, 59);
  font-family: Space grotesk, Georgia;
  text-align: center;
  font-size: 1.2rem;
}
.allEmployee .employeePicture {
  height: 100px;
  border: 2px solid rgb(74, 78, 105);
  border-radius: 10px;
}
.allEmployee p {
  color: rgb(74, 78, 105);
  font-family: Concert One, arial;
  text-align: center;
  font-size: 0.9rem;
}
.allEmployee > div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.allEmployee > div:nth-of-type(1) > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
}

/*Produkter*/
.sectionProduct h2 {
  color: rgb(34, 34, 59);
  font-family: Space grotesk, Georgia;
  text-align: center;
}
.sectionProduct hr {
  border-top: 3px solid rgb(34, 34, 59);
  width: 90%;
}
.sectionProduct .allProducts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.sectionProduct .allProducts > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
}
.sectionProduct .allProducts .product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 150px;
  margin: 20px 0;
}
.sectionProduct .allProducts .product img {
  height: 100px;
  border: 2px solid rgb(74, 78, 105);
  border-radius: 10px;
}
.sectionProduct .allProducts .product p {
  color: rgb(74, 78, 105);
  font-family: Concert One, arial;
  text-align: center;
}
.sectionProduct .allProducts .product button {
  background: rgb(201, 173, 167);
  color: Space grotesk, Georgia;
  border: none;
  border-radius: 10px;
  font-family: Concert One, arial;
}
.sectionProduct .allProducts .product button:hover {
  cursor: pointer;
  background: rgb(212, 190, 185);
}

/*Kontakt*/
.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.contactInfo img {
  height: 200px;
  border: 2px solid rgb(74, 78, 105);
  border-radius: 10px;
}
.contactInfo figcaption {
  color: rgb(74, 78, 105);
  font-family: Concert One, arial;
  text-align: center;
  font-size: 0.7rem;
}
.contactInfo h2 {
  color: rgb(34, 34, 59);
  font-family: Space grotesk, Georgia;
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 0;
}
.contactInfo p {
  color: rgb(74, 78, 105);
  font-family: Concert One, arial;
  text-align: center;
  margin-top: 0;
}

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}
.contactForm h3 {
  color: rgb(34, 34, 59);
  font-family: Space grotesk, Georgia;
  text-align: center;
  font-size: 1.4rem;
}
.contactForm form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  color: rgb(74, 78, 105);
  font-family: Concert One, arial;
  text-align: center;
}
.contactForm form input, .contactForm form textarea {
  border: 2px solid rgb(74, 78, 105);
  border-radius: 10px;
}
.contactForm form > div {
  text-align: center;
}
.contactForm form input[type=submit] {
  background: rgb(201, 173, 167);
  color: Space grotesk, Georgia;
  border: none;
  border-radius: 10px;
  font-family: Concert One, arial;
}
.contactForm form input[type=submit]:hover {
  cursor: pointer;
  background: rgb(212, 190, 185);
}

/*Recensioer*/
.stars {
  text-align: center;
  color: rgb(201, 173, 167);
}

hr {
  border-top: 3px solid rgb(34, 34, 59);
  width: 90%;
}

.reviews {
  margin: 10px 20px;
}
.reviews p {
  color: rgb(74, 78, 105);
  font-family: Concert One, arial;
  text-align: center;
}

.sendReview h3 {
  color: rgb(34, 34, 59);
  font-family: Space grotesk, Georgia;
  text-align: center;
  font-size: 1.6rem;
}
.sendReview form {
  margin: 20px;
  color: rgb(74, 78, 105);
  font-family: Concert One, arial;
  text-align: center;
}
.sendReview form input, .sendReview form textarea {
  border: 2px solid rgb(74, 78, 105);
  border-radius: 10px;
}
.sendReview form input[type=submit] {
  background: rgb(201, 173, 167);
  color: Space grotesk, Georgia;
  border: none;
  border-radius: 10px;
  font-family: Concert One, arial;
}
.sendReview form input[type=submit]:hover {
  cursor: pointer;
  background: rgb(212, 190, 185);
}
.sendReview form input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid rgb(34, 34, 59);
}
.sendReview form input[type=checkbox]:checked {
  background: rgb(201, 173, 167);
}/*# sourceMappingURL=style.css.map */